{% extends "blog/inicio.html" %}

{% load static %}

{% block contenidoQueCambia %}
<h1>Búsqueda de productos</h1>

<form method="GET">
    <label for="nombre">Nombre del producto:</label>
    <input type="text" name="nombre" id="nombre">
    <button type="submit">Buscar</button>
</form>

<hr>

{% for producto in productos %}
    <h2>Producto: {{ producto.nombre_prod }}</h2>
    <h3>Stock: {{ producto.stock }}</h3>
    <h3>Precio: ${{ producto.precio }}</h3>
    <hr>
{% empty %}
    <p>No se encontraron productos</p>
{% endfor %}

{% endblock %}
