{% extends "blog/inicio.html" %}

{% load static %}

{% block contenidoQueCambia %}
<h1>Registro de compras</h1>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Registrar compra</button>
</form>

<hr>

{% for compra in compras %}
    <h2>
        <p>Cliente: {{ compra.cliente }}</p>
    </h2>
    <h3>
        <p>Producto: {{ compra.producto }}</p>
    </h3>
    <h3>
        <p>Cantidad: {{ compra.cantidad }}</p>
    </h3>
    <hr>
{% empty %}
    <p>No hay compras registradas</p>
{% endfor %}

{% endblock %}
