{% extends "blog/inicio.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>
<body>
    {% load static %}
    {% block contenidoQueCambia %}
       <h1>Bienvenido estos son nuestros productos disponibles</h1>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Guardar</button>
</form>
       {% for Producto in productos %}
         <h3>{{productos.nombre_prod}}</h3>
        {% empty %}
        <p>Pesa rusa\
           Pelota de futbol\
           Colchoneta
           Antiparras
        </p>
        {% endfor %}
    {% endblock %}
</body>
</html>